:root {
  --primary : #fd7aba;
  --primaryAction : #df4a90;
  --primaryActionHover : #c43e7e;
  --primaryBackground : #f7b4df;

  --generalBackground : #f6f6f6;

  --textColor : rgba(0, 0, 0, 0.66);
  --textPrimary : #000000;
  --textSecondary : #cbcbcb;

  --red : #fc4802;
  --white : #fdfdfd;

  --border-secondary : #dcdcdc;

  --btn-radius : 0.5rem;
}
