:root {
  --primary : #ec4d55;
  --primaryAction : #e9392d;
  --primaryActionHover : #dd0311;
  --primaryBackground : #fab0a0;

  --generalBackground : #f6f6f6;

  --textColor : rgba(0, 0, 0, 0.66);
  --textPrimary : #000000;
  --textSecondary : #cbcbcb;

  --red : #fc4802;
  --white : #fdfdfd;

  --border-secondary : #dcdcdc;

  --btn-radius : 0.5rem;
}
