<div class="col-md-12">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">Ajouter une Categorie</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="addCategoryForm">
        <div class="row">
          <div class="col-md-6 offset-md-3 px-1">
            <div class="form-group">
              <label>Nom</label>
              <input type="text"
                     class="form-control"
                     placeholder="Nom"
                     formControlName="name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button (click)="onSubmit() " class="btn btn-primary btn-round">Ajouter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
