<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4 class="card-title"> Produits</h4>
        <button
          class="btn btn-primary btn-round"
          [routerLink]="['/produits/ajouter']"
        >
          <i class="nc-icon nc-simple-add"></i> Ajouter
        </button>
      </div>
      <div class="card-body">
        <div>
          <table class="table" *ngIf="products$ | async as products">
            <thead class=" text-primary">
              <th>

              </th>
              <th>
                Nom
              </th>
              <th>
                Catégorie
              </th>
              <th class="text-right">
                Prix
              </th>
              <th class="text-right">
                Stock
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>
                  <img [src]="imagesPath+product.productImages[0]" alt="" width="70" height="70" style="object-fit: cover"/>
                </td>
                <td>
                  {{ product.name }}
                </td>
                <td>
                  {{ product.category.name }}
                </td>
                <td class="text-right">
                  {{ product.price }}
                </td>
                <td class="text-right">
                  {{ product.quantity }}
                </td>
                <td>
                  <button
                    class="btn btn-primary btn-round"
                    [routerLink]="['/produit/modifier', product._id]"
                  >
                    <i class="nc-icon nc-settings"></i>
                  </button>
                  <button
                    class="btn btn-danger btn-round"
                    (click)="deleteProduct(product)"
                  >
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
