<div class="products-container d-flex">
  <div class="left-sidebar">
    <div class="title py-0">
      <span class="categories__title">TRIER PAR</span>
    </div>
    <anna-expension-panel>
      <ng-template #title>
        <span>TAILLE</span>
      </ng-template>
      <ng-template #body>
        <div class="row px-4">
          <div class="col-6 p-1" *ngFor="let size of sizes">
            <anna-input-checkbok
              [label]="size.name"
            >
            </anna-input-checkbok>
          </div>
        </div>
      </ng-template>
    </anna-expension-panel>
    <anna-expension-panel>
      <ng-template #title>
        <span>COULEUR</span>
      </ng-template>
      <ng-template #body>
        <div class="row px-4">
          <div class="col-6 p-1" *ngFor="let size of colors">
            <anna-input-checkbok
              [label]="size.name"
            >
            </anna-input-checkbok>
          </div>
        </div>
      </ng-template>
    </anna-expension-panel>
    <anna-expension-panel>
      <ng-template #title>
        <span>PRIX</span>
      </ng-template>
      <ng-template #body>
        <div class="row px-4 size">
          <div class="col-12 p-1" *ngFor="let size of prix">
            <anna-input-checkbok
              [label]="size.name"
            >
            </anna-input-checkbok>
          </div>
        </div>
      </ng-template>
    </anna-expension-panel>
  </div>
  <div class="right-content">
    <div class="card rounded-0 p-2 d-flex justify-content-center">
      <nav aria-label="breadcrumb" class="">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a routerLink="/"
            >Accueil</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/produits"
            >Produits</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <span *ngIf="selectedCategory$ | async as category">
              {{ category.name }}
            </span>
          </li>
        </ol>
      </nav>
    </div>
    <div class="product-header">
      <div class="display d-none d-md-flex">
        <div class="display-button"
              [ngClass]="{'active': display === 4}"
             (click)="toggleDisplay(4)">
          4
        </div>
        <div class="display-button"
              [ngClass]="{'active': display === 3 || display === 2 || display === 1}"
             (click)="toggleDisplay(3)">
          3
        </div>
      </div>
      <div class="display d-md-none">
        <div class="display-button"
              [ngClass]="{'active': display === 2 || display === 3 || display === 4}"
             (click)="toggleDisplay(2)">
          2
        </div>
        <div class="display-button"
              [ngClass]="{'active': display === 1}"
             (click)="toggleDisplay(1)">
          1
        </div>
      </div>
      <div class="product-header__sort">
        <span class="sort__title">Trier par</span>
        <select class="sort__select" [formControl]="sortControl">
          <option [value]="sortEnum.ASC">Prix croissant</option>
          <option [value]="sortEnum.DESC">Prix décroissant</option>
          <option [value]="sortEnum.NAME_ASC">Nom croissant</option>
          <option [value]="sortEnum.NAME_DESC">Nom décroissant</option>
          <option [value]="sortEnum.NEWEST">Nouveauté</option>
        </select>
      </div>
    </div>
    <div class="product-list" *ngIf="products$ | async as products">
      <div class="product-list__item"
           [ngClass]="{
            'col-12': display === 1,
            'col-6': display === 2 || display === 3 || display === 4,
            'col-md-4': display === 3 || display === 2 || display === 1,
            'col-md-3': display === 4
           }"
           *ngFor="let product of products"
      >
        <anna-bloc-product
          [product]="product"
        ></anna-bloc-product>
      </div>
    </div>
  </div>
</div>
