<div class="col-md-12">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">Ajouter un Produit</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="addProductForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Nom</label>
              <input type="text"
                     class="form-control"
                     placeholder="Nom"
                     formControlName="name"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>Prix</label>
              <input type="number" class="form-control" placeholder="Prix" formControlName="price">
            </div>
          </div>
          <div class="col-md-5 ">
            <div class="form-group">
              <label>Categorie</label>
              <select class="form-select"
                      *ngIf="categories$ | async as categories"
                      formControlName="category">
                <option [value]="null">Choisir une categorie</option>
                <option [value]="category._id" *ngFor="let category of categories">
                  {{category.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-2 ">
            <div class="form-group">
              <label>Quantité</label>
              <input type="number" class="form-control" placeholder="Quantité" formControlName="quantity">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control textarea" placeholder="Description" formControlName="description">
              </textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label for="image" class="form-label">Image 1</label>
              <input type="file"
                     id="image"
                     class="form-control form-control-sm"
                     formControlName="productImage1"
                     (change)="onFileSelected1($event)"
              >
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label for="image2" class="form-label">Image 2</label>
              <input type="file"
                     id="image2"
                     class="form-control form-control-sm"
                     formControlName="productImage2"
                     (change)="onFileSelected2($event)"
              >
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3">
              <label for="image3" class="form-label">Image 3</label>
              <input type="file"
                     id="image3"
                     class="form-control form-control-sm"
                     formControlName="productImage3"
                     (change)="onFileSelected3($event)"
              >
            </div>
          </div>

        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button type="submit" class="btn btn-primary btn-round"
                    (click)="onSubmit()"
                    [disabled]="addProductForm.invalid"
            >
              Ajouter
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
